<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoDependencyProperty.Fody" version="1.2.2.0" targetFramework="net452" developmentDependency="true" />
  <package id="AvalonEdit" version="5.0.3" targetFramework="net462" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net452" />
  <package id="Fody" version="1.29.4" targetFramework="net462" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.3.0" targetFramework="net462" />
  <package id="MultiSelectTreeView" version="1.0.7" targetFramework="net462" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net462" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net462" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net462" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net462" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net462" />
  <package id="reactiveui" version="7.0.0.1474320879" targetFramework="net462" />
  <package id="ReactiveUI.Fody" version="1.1.53" targetFramework="net462" />
  <package id="reactiveui-core" version="7.0.0.1474320879" targetFramework="net462" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net462" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net462" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net462" />
  <package id="SimpleInjector" version="3.2.2" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Validation" version="2.2.8" targetFramework="net462" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net462" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
</packages>