<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp8D1543ABCB80F210097DE6C692F8E7D3" Guid="*">
                <File Id="fil5F3739B9F27C9025F95EE63EBCEC5060" KeyPath="yes" Source="$(var.HarvestPath)\ICSharpCode.AvalonEdit.dll" />
            </Component>
            <Component Id="cmp223D4754378C01052DA8253A843FD297" Guid="*">
                <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.HarvestPath)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmpBB1767D7C200C536ABB2D361F40F9D92" Guid="*">
                <File Id="fil4E0F4321F336BF83461A34116F3E30B7" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="cmp702FCD8F941D530EED089ED86491F3AF" Guid="*">
                <File Id="filAAF0A287D1C4C9A238DFF053ADA2B1C8" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
            <Component Id="cmp7D63344FDA5BA94E0FFBBA8F0AED24A4" Guid="*">
                <File Id="fil8DB4CF31AF4F07F3B351BBA25ABE778E" KeyPath="yes" Source="$(var.HarvestPath)\MultiSelectTreeView.dll" />
            </Component>
            <Component Id="cmp5D04BC12D55EF411F27655FC83549FC4" Guid="*">
                <File Id="filAF485C24EA0A8A4A55ED87AC6C5C0935" KeyPath="yes" Source="$(var.HarvestPath)\PCLCrypto.dll" />
            </Component>
            <Component Id="cmp445377937ECC77CC00A4A39131D6BDE7" Guid="*">
                <File Id="filAC83B62D717F16F6BDB19B00BD506887" KeyPath="yes" Source="$(var.HarvestPath)\PInvoke.BCrypt.dll" />
            </Component>
            <Component Id="cmp3F85BD971B64F71377D11D1A00BD26C2" Guid="*">
                <File Id="fil40ECFA275B8F91B57F6C2426E896E234" KeyPath="yes" Source="$(var.HarvestPath)\PInvoke.Kernel32.dll" />
            </Component>
            <Component Id="cmp2E336A3A2E7E2ACB7F4E0045CE8065CB" Guid="*">
                <File Id="fil3E2C1C9379A09C45297F2787491398C3" KeyPath="yes" Source="$(var.HarvestPath)\PInvoke.NCrypt.dll" />
            </Component>
            <Component Id="cmp6D67B004F42A1248BEB124DBEDCE5D9F" Guid="*">
                <File Id="fil58A8A682F8E3673EC253A9D6EE8E13FB" KeyPath="yes" Source="$(var.HarvestPath)\PInvoke.Windows.Core.dll" />
            </Component>
            <Component Id="cmpEBC6C9B547D58B544D64DC28BED0A67B" Guid="*">
                <File Id="fil2885E4C5CC11CCA9DF7E7CB0AAC768F4" KeyPath="yes" Source="$(var.HarvestPath)\ReactiveGit.Core.dll" />
            </Component>
            <Component Id="cmpE5135A659051AA55152CBDE6A60DA0AF" Guid="*">
                <File Id="fil885BF599FA22757ABB913C24C1C5D15B" KeyPath="yes" Source="$(var.HarvestPath)\ReactiveGit.Gui.Core.dll" />
            </Component>
            <Component Id="cmpB92602E116B37A0AE5B4D297A2816A5C" Guid="*">
                <File Id="filDAE04002BC754AB43CA54B0EC242DA0F" KeyPath="yes" Source="$(var.HarvestPath)\ReactiveGit.Gui.WPF.XML" />
            </Component>
            <Component Id="cmp82652F46261C2C87362FF1251032606B" Guid="*">
                <File Id="filB9989AC8BE148491574E0FBA04DCFC8F" KeyPath="yes" Source="$(var.HarvestPath)\ReactiveGit.Process.dll" />
            </Component>
            <Component Id="cmpD28C36CEB3500D89F6610413712A0D73" Guid="*">
                <File Id="filECBBD5193649AF7C9B0970B504A1D635" KeyPath="yes" Source="$(var.HarvestPath)\ReactiveUI.dll" />
            </Component>
            <Component Id="cmp92C04A24AF7927B36811C446D74545FF" Guid="*">
                <File Id="filF0180B0A14A1D24CF51224ED4E84D2D3" KeyPath="yes" Source="$(var.HarvestPath)\ReactiveUI.Fody.Helpers.dll" />
            </Component>
            <Component Id="cmpA8D1BE679C83A89BE1F2D6CD750A800F" Guid="*">
                <File Id="fil2D993634CF8F43E7DBCE0D0266DE1AD8" KeyPath="yes" Source="$(var.HarvestPath)\SimpleInjector.dll" />
            </Component>
            <Component Id="cmpECC0DB43D675D3354C308FED694EB2A4" Guid="*">
                <File Id="fil096A18880498670BA154574207EB2E0F" KeyPath="yes" Source="$(var.HarvestPath)\Splat.dll" />
            </Component>
            <Component Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" Guid="*">
                <File Id="fil846A953AFF86FEE17DA23C0C138E1A63" KeyPath="yes" Source="$(var.HarvestPath)\System.Reactive.Core.dll" />
            </Component>
            <Component Id="cmpE39668959EEE73724DCF95607C11909E" Guid="*">
                <File Id="fil089FEF1B09CE2D4674666B7E9AF34C95" KeyPath="yes" Source="$(var.HarvestPath)\System.Reactive.Interfaces.dll" />
            </Component>
            <Component Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" Guid="*">
                <File Id="fil95A058622AFC42820C25EF2E63A647E8" KeyPath="yes" Source="$(var.HarvestPath)\System.Reactive.Linq.dll" />
            </Component>
            <Component Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" Guid="*">
                <File Id="fil6E825004F8F872DFE6F7A33919E147A0" KeyPath="yes" Source="$(var.HarvestPath)\System.Reactive.PlatformServices.dll" />
            </Component>
            <Component Id="cmpB0A4A020B6E209A3532877A7C50F4A33" Guid="*">
                <File Id="filDE09E0C59EB4975EDC62B899105EE797" KeyPath="yes" Source="$(var.HarvestPath)\System.Reactive.Windows.Threading.dll" />
            </Component>
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Guid="*">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.HarvestPath)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp2FF21B51EE6CE7787750EF2970000EF2" Guid="*">
                <File Id="fil229BA0DB89AFB6E7379F1E838A9042BE" KeyPath="yes" Source="$(var.HarvestPath)\Validation.dll" />
            </Component>
            <Component Id="cmpB5AC76F2952CC9DFFEAE55F2225097DA" Guid="*">
                <File Id="fil6AA069CB067F41A6BD8EE397FDA8959D" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.AvalonDock.dll" />
            </Component>
            <Component Id="cmp2A23BAA07F6AEF1BAC39F167324A8F3A" Guid="*">
                <File Id="filBC3F4C1166E0142D06933250742EA7C2" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
            </Component>
            <Component Id="cmpD2BBFD2B0371F68A1185CC644A1BEA64" Guid="*">
                <File Id="fil4DFF05E2DF20649A72E2FB5FBC3CBA2E" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
            </Component>
            <Component Id="cmpFFB651FFCBD1B293A7B0FE113C056F8F" Guid="*">
                <File Id="filEFDE58C5ABCFCB31E073211560F487D2" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
            </Component>
            <Component Id="cmp2082E6F44E7442A2CF668AC1314841DE" Guid="*">
                <File Id="fil970A8461CFC3494D8628089C3DDA5992" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.DataGrid.dll" />
            </Component>
            <Component Id="cmpC85BD7478E073743A39F17DF06865203" Guid="*">
                <File Id="fil3DAD59899DDA1B0FCEDF95F84CB3C475" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.Toolkit.dll" />
            </Component>
            <Directory Id="dir242DC17B8DFC53C13CAF172FC08B730A" Name="de">
                <Component Id="cmp5C894AE3FF956FCDDF4DFFE3BA89B9C1" Guid="*">
                    <File Id="filB1C9AEB28739722A7265C14C29D55B54" KeyPath="yes" Source="$(var.HarvestPath)\de\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir9AE38F4F5CB5E565E774521E138F44FD" Name="es">
                <Component Id="cmp6EFE3E0288B5FA57D98FB920AB342897" Guid="*">
                    <File Id="fil87AEDF35E30560161D787B0A3BF3750B" KeyPath="yes" Source="$(var.HarvestPath)\es\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB55DFDA91FEE7CCCBC65CA7493B75748" Name="fr">
                <Component Id="cmp3EB7F17B0DCBDF3729FDAAAF0CF6B665" Guid="*">
                    <File Id="fil894A87B41983376BAAE165DD02D4FB6C" KeyPath="yes" Source="$(var.HarvestPath)\fr\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir937629FDAC3D30087170D6DA46E383A6" Name="hu">
                <Component Id="cmpFB118A47202A6B98ED49B3C952C22F35" Guid="*">
                    <File Id="fil0686FF7DCF04C68D53BD45FE0C2A8BF6" KeyPath="yes" Source="$(var.HarvestPath)\hu\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir45DE18DD71F3E8DD6BE4A0E2B48778C8" Name="it">
                <Component Id="cmp0B9527E49327DF46736C8F6F58634C01" Guid="*">
                    <File Id="fil0B4AABB0E6DE194FF7BBE1F51933E675" KeyPath="yes" Source="$(var.HarvestPath)\it\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir339F53F3A11C56B053FD1FEC9B438810" Name="pt-BR">
                <Component Id="cmp78E3AC4B6177179C5F50ECB1A8B16D85" Guid="*">
                    <File Id="fil449CD491C0135989D68E91371269A3B8" KeyPath="yes" Source="$(var.HarvestPath)\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirBD3668345143F8EFDFB86A9B73810966" Name="ro">
                <Component Id="cmp1540E6C17030090C628A142AB815893D" Guid="*">
                    <File Id="filA53F285204ABC84BDD30D704D3AD1488" KeyPath="yes" Source="$(var.HarvestPath)\ro\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirE9205C68F964857267FD3312DBFF9A91" Name="ru">
                <Component Id="cmp0D4BE05FC1DE55590C9709CA01911525" Guid="*">
                    <File Id="fil4C2ED72F2BA64BA2A890779CC3B77DA4" KeyPath="yes" Source="$(var.HarvestPath)\ru\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8FBB04D7AB5FE55FCF40758128EC763E" Name="sv">
                <Component Id="cmpC21D9CCB5856693FB3CE2A23AFB7DD83" Guid="*">
                    <File Id="fil75EA045A69F3E238DA47EBBABBF5DCD8" KeyPath="yes" Source="$(var.HarvestPath)\sv\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir4A8DD77DBC79775EC39CACBC8AA06107" Name="zh-Hans">
                <Component Id="cmp11A3FE50B66CC04F854A4486A5199C89" Guid="*">
                    <File Id="fil6EE1E4B1FB2A7DF0A95E3D283E73ADFA" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmp8D1543ABCB80F210097DE6C692F8E7D3" />
            <ComponentRef Id="cmp223D4754378C01052DA8253A843FD297" />
            <ComponentRef Id="cmpBB1767D7C200C536ABB2D361F40F9D92" />
            <ComponentRef Id="cmp702FCD8F941D530EED089ED86491F3AF" />
            <ComponentRef Id="cmp7D63344FDA5BA94E0FFBBA8F0AED24A4" />
            <ComponentRef Id="cmp5D04BC12D55EF411F27655FC83549FC4" />
            <ComponentRef Id="cmp445377937ECC77CC00A4A39131D6BDE7" />
            <ComponentRef Id="cmp3F85BD971B64F71377D11D1A00BD26C2" />
            <ComponentRef Id="cmp2E336A3A2E7E2ACB7F4E0045CE8065CB" />
            <ComponentRef Id="cmp6D67B004F42A1248BEB124DBEDCE5D9F" />
            <ComponentRef Id="cmpEBC6C9B547D58B544D64DC28BED0A67B" />
            <ComponentRef Id="cmpE5135A659051AA55152CBDE6A60DA0AF" />
            <ComponentRef Id="cmpB92602E116B37A0AE5B4D297A2816A5C" />
            <ComponentRef Id="cmp82652F46261C2C87362FF1251032606B" />
            <ComponentRef Id="cmpD28C36CEB3500D89F6610413712A0D73" />
            <ComponentRef Id="cmp92C04A24AF7927B36811C446D74545FF" />
            <ComponentRef Id="cmpA8D1BE679C83A89BE1F2D6CD750A800F" />
            <ComponentRef Id="cmpECC0DB43D675D3354C308FED694EB2A4" />
            <ComponentRef Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" />
            <ComponentRef Id="cmpE39668959EEE73724DCF95607C11909E" />
            <ComponentRef Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" />
            <ComponentRef Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" />
            <ComponentRef Id="cmpB0A4A020B6E209A3532877A7C50F4A33" />
            <ComponentRef Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" />
            <ComponentRef Id="cmp2FF21B51EE6CE7787750EF2970000EF2" />
            <ComponentRef Id="cmpB5AC76F2952CC9DFFEAE55F2225097DA" />
            <ComponentRef Id="cmp2A23BAA07F6AEF1BAC39F167324A8F3A" />
            <ComponentRef Id="cmpD2BBFD2B0371F68A1185CC644A1BEA64" />
            <ComponentRef Id="cmpFFB651FFCBD1B293A7B0FE113C056F8F" />
            <ComponentRef Id="cmp2082E6F44E7442A2CF668AC1314841DE" />
            <ComponentRef Id="cmpC85BD7478E073743A39F17DF06865203" />
            <ComponentRef Id="cmp5C894AE3FF956FCDDF4DFFE3BA89B9C1" />
            <ComponentRef Id="cmp6EFE3E0288B5FA57D98FB920AB342897" />
            <ComponentRef Id="cmp3EB7F17B0DCBDF3729FDAAAF0CF6B665" />
            <ComponentRef Id="cmpFB118A47202A6B98ED49B3C952C22F35" />
            <ComponentRef Id="cmp0B9527E49327DF46736C8F6F58634C01" />
            <ComponentRef Id="cmp78E3AC4B6177179C5F50ECB1A8B16D85" />
            <ComponentRef Id="cmp1540E6C17030090C628A142AB815893D" />
            <ComponentRef Id="cmp0D4BE05FC1DE55590C9709CA01911525" />
            <ComponentRef Id="cmpC21D9CCB5856693FB3CE2A23AFB7DD83" />
            <ComponentRef Id="cmp11A3FE50B66CC04F854A4486A5199C89" />
        </ComponentGroup>
    </Fragment>
</Wix>