<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache.core" version="4.1.2" targetFramework="net452" />
  <package id="Fody" version="1.29.4" targetFramework="net452" developmentDependency="true" />
  <package id="Lager" version="0.4.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="reactiveui" version="7.0.0.1474320879" targetFramework="net452" />
  <package id="ReactiveUI.Fody" version="1.1.53" targetFramework="net452" />
  <package id="reactiveui-core" version="7.0.0.1474320879" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.3" targetFramework="net452" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net452" />
  <package id="SimpleInjector" version="3.2.2" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>